
Game_of_three_cards/.vs/
Game_of_three_cards/x64/
Game_of_three_cards/Game_of_three_cards/x64/
Game_of_three_cards/.vs/Game_of_three_cards/v17/.suo
Game_of_three_cards/.vs/Game_of_three_cards/v17/Browse.VC.db
*.db
